body {
  font-family: 'Courier New', monospace;
  line-height: 1.6;
  color: #999999;
  margin: 0;
  padding: 1em;
  background-color: #000200;
  max-width: 50em;
  margin: auto;
}

a {
  color: #55AA55;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-bottom: 0px;
}

code {
  font-family: monospace;
  font-size: 0.95em;
  background: #1e1e1e;
  color: #ffcc66;
  padding: 0.2em 0.4em;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.05);
  white-space: nowrap;
}

pre code {
  display: block;
  padding: 1em;
  white-space: pre;
  overflow-x: auto;
  border-radius: 6px;
}

blockquote {
  font-style: italic;
  font-size: 1em;
  color: #ccc;
  padding: 0.25em 1em;
  border-left: 3px solid #ffcc66;
  margin: 1em 0;
  background: #222;
}
